img {
    width: 100px;
}
#div1 {
    background-color: lightsalmon;
}
#div2 {
    background-color: lightgreen;
}
#div3 {
    background-color: lightskyblue;
}
#div4 {
    background-color: lightgoldenrodyellow;
}
#div5 {
    background-color: aquamarine;
}